<%= javascript_packs_with_chunks_tag 'tier_list', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'tier_list', 'application' %>
<div id="tier-list-root" data-tier-list-id="<%= @tier_list_id %>"></div>

