navbar {
    position: sticky
}

nav {
    background-color: #3F5C9E;
    font-size: 1.25rem;
}

.login-below {
    background-color: #5993F0;
}

#brand-ani,
#brand-tier {
    font-size: 1.75rem;
}

#brand-tier {
    color: #5993F0;

}

#login-btn {
    background-color: #5993F0;
}