.content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0.25rem;
    background-color: '#f7f7f7';
}

.content {
    border-bottom: 1px solid black;
}

.rank {
    background-color: "#3F5C9E";
    width: "75px";
    border-bottom: 1px solid black;
}

.tier {
    max-height: 270;
}