#inventory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: start;
    align-content: start;
    grid-gap: 0.20rem;
    background-color: white;
    padding: 0.20rem;
    min-height: 100%;
    max-height: 100%;
    height: auto;
    overflow-y: auto;
}

.inventory-drop {
    min-height: 100%;
    max-height: 100%;
}

.tier-wrapper {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}