#inventory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: start;
    align-content: start;
    grid-gap: 0.20rem;
    background-color: white;
    padding: 0.20rem;
    min-height: 80vh;
    max-height: 80vh;
    height: auto;
    overflow-y: auto;
}