#inventory {
    background-color: white;
    min-height: 100%;
    height: auto;
}

.result-item {
    font-size: 0.8rem;
}

.scrollable-results {
    max-height: 200px;
    overflow-y: auto;
}

.my-modal .modal-content {
    height: 80vh;
    /* or any other value */
}